/* .c2-container{
  display: grid;
  justify-content: center;
  height:60px;
  width:60px;

} */
body{
  margin:0;
  width:100vw;

}

.carousel-2{
  height:40vh;
  width:40vw;
}
.c2-container{
  display: grid;
  
  justify-content: center;

}